* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: darkslategray;
}

body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;    
    font-family: sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 60px;
    box-shadow: inset 0 1px 0 0 darkgray;
}

.footer-list { 
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
}

.footer-list-item {
    display: inline-block;    
}

.footer-link {        
    padding: 8px;  
    color: darkgray;      
}

.footer-link::after {
    content: " ";
    display: inline-block;
    position: relative;
    left: 8px;
    width: 2px;
    height: 40px;
    background-color: lightgray;
    vertical-align: middle;
}

.footer-link:hover {
    color: blue;
}

.footer-link.active {
    color: darkred;
}
